html,body{
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 18px;
}
.main-page{
    background-color: #4772ff;
    height: 70vh;
    width: 93vw;
    margin: 0px auto;
    border-radius: 0px 0px 20px 20px;
    display: block;
    text-align: center;
    color:white;;
    overflow: auto;
    box-shadow: 0 0 50px #111111;
}
h3{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 30px;
    text-shadow:
        2px 2px 0 #000,
        -1px -1px 0 #000;
}
.banner{
    background-color: #4772cf;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20%;
    display: grid;
}
.input-form input[type="email"]{
    margin: 0.5px 2px;
    padding: 6px 5px;
    border: 1px solid #ff652f;
    outline: 2px;
    font-size: 20px;
    height: 40%;
    width: 25%;
    border-radius: 17px;
    text-align: center;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
    background-color: rgb(251, 253, 253);
}
.input-form input[type="email"]:hover{
    width: 30%;
}
.input-form input[type="submit"]{
    background: #ff652f;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 25%;
    height: 40px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 0, 15);
}
.input-form input[type="submit"]:hover{
    background-color: #4772cf;
    color: white;
}
.main{
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #4772ff;
    height: 80vh;
    width: 100%;
    margin: 0px auto;
    
    text-align: center;
    color:white;;
    overflow: hidden;
    box-shadow: 0 0 50px #111111;
    
}
/* dash board */
.menu{
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.5)
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: block;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
h5{
    font-size: 15px;
    padding-bottom: 2px;
}
label{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-family: cursive;
}
#contact, #subject, #message{
    border: 1px solid #000;
    font-size: 20px;
    width: 80%;
    margin-top: 15px;
}
#contact, #subject{
    height: 30px;
}
#message{
    height: 150px;
}
.content{
    float: left;
    width: 80%;
    height: 100%;
    background: #4772ff;
}
.mails{
    background-color: #4772cf;
    color: #e2f8f1;
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    
  }
  .mails:hover{
    background:#ff652f;
  }
  .mails .badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: #f1f1f1;
  }

textarea{
    overflow: auto;
    white-space: nowrap;
    resize: none;
    height: 58%;
    width: 80%;
    outline: none;
    border: 1px solid #ff652f;
}
li input[type="submit"]{
    background: #ff652f;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 20%;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 0, 15);
}
li input[type="submit"]:hover{
    background-color: #4772cf;
    color: white;
}
li input[type="text"]:hover{
    outline: 1px solid yellow;
}
li input[type="email"]:hover{
    outline: 1px solid yellow;
}
textarea:hover{
    outline: 1px solid yellow;
}
/* page footer */
.footer{
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
